html{
    height: 100%;
}


p {
    font-size: 39px;
}
.content{
    margin: -1% 18% 0% 15.4%;
}
.btn{
     margin-right: 2%;
     
 }
 #msg{
     margin-top: 3%;
     text-align: center;
     color:rgb(41, 41, 194);
     font-weight: 599;
 }
.content a{
     font-size: 100%;
     font-family: Arial, Helvetica, sans-serif;
     padding:1%;
     color: white;
     text-decoration: none;
 }
 .navigation{
     color: white;
     padding: 0.6%;
 }
.space{
    padding:0.7%;
    background-color: rgb(238, 238, 238);
    
}
 
 
 
 .content-body{
     background-color: white;
     width: 96%;
     margin: 0 auto;
      position: relative;
     padding:2%;
      
     
 }
 
 .links{
     display: inline-block;
     width: 14%;
     height: 200%;
     padding-left: 0%;
     text-align: center;
     font-size: 149%;
     padding-top: 2%;
     
 }
 .links a p{
     
     text-decoration: underline;
     color:rgb(11, 73, 94);
     font-size: 69%;
 }
 
 .content-head{
     background-color: #c2d7da;
     position: fixed;  
     right:18.1%;
     left:17.2%;
     height: 549px;
     overflow: scroll;
     overflow-x: hidden;
     margin: 0% -0.4%; 
     
 }
 .content-head p{
    color: rgb(66, 62, 62);
    font-size: 249%;
    margin:0%;
 }


 #active{
    background-color: rgb(16, 16, 119);
    color: white;
 }
 select{
     margin:5% 39%;
     padding: 0.4%;
     
 }
  .links:hover>a>p{
    background-color: rgb(16, 16, 119);
    color: white;
 }
 .content-body p{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 119%;
 }
 .general-text{
    margin: 0% 16%;
    padding:0%;
    color:rgb(41, 41, 195);
 }
 #sentence-intro{
    font-weight: 599;

 }
 
 #jumbled-words,#sel,#reformed,#check-correctness,#ans{
     text-align: center;
     margin-top: 4%;
 }
 #sel{
     font-size: 199%;
     color:rgb(66, 62, 62);   
       font-weight: 599;

 }
 #ans{
     font-size: 50%;
     color:rgb(66, 62, 62);   
       font-weight: 10;

 }
 
 span{
     font-weight: 199;
 }
 #correct{
     font-size: 199%;
     color: green;
     margin-top: 3%;
     text-align: center;
 }
 #wrong{
     color: red;
     text-align: center;
     margin-top: 3%;
     font-size: 199%;
    
 }